{%extends 'login_main.html'%}
{%load static%}
{%block content%}

{%for user in userdata%}

<form class="login100-form validate-form" action="check" method="post">
	{%csrf_token%}
<span class="login100-form-title p-b-70">
						Welcome
					</span>
					<span class="login100-form-avatar">
						<img src="{{user.student.photo.url}}" alt="AVATAR">
					</span>
<center><h3>{{user.username}}</h3></center>
	<input type="hidden" value="{{user.username}}" name="username">
<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
						<input class="input100" type="password" name="pass">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>
    <button class="login100-form-btn">
							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-8.354 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L9.793 7.5H5a.5.5 0 0 0 0 1h4.793l-2.147 2.146z"/>
</svg>
						</button>

</form>
{%endfor%}
{%endblock%}